p{
    color: rgb(154, 5, 195);
}
   paragraf0{

background-color: chartreuse; 
/*margin: 10px; -aplica em todas as margens*/
/*margin: 10px 20px 20px 40px; -aplica margem em todas as direçoes*/
margin: 10px;   
}

 imagem{
    width: 150px;
    height: 100px;

 }        

.linha-br2{
background-color: cyan;
}

.formulário{
background-color: rgb(255, 0, 208);
}
.input-nome{
/*remove a borda do elemento*/
border:none;
border-radius: 5px;
margin-left: 50px;
/*Define opacidade do elemento*/
opacity: 70%;
}
